.special-section {
  padding-bottom: 100px;
}
.section-heading {
  margin-bottom: 50px;
}
.section-heading .dash-style {
  padding-left: 80px;
  position: relative;
}
.section-heading h5 {
  color: #f56960 !important;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 22px;
  text-transform: uppercase;
  display: inline-block;
}
.section-heading .dash-style:before {
  background-color: #f56960;
  content: "";
  height: 2px;
  width: 70px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  top: 50%;
}
.section-heading h2 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.1;
  text-transform: uppercase;
}
.section-heading p:last-child {
  margin-bottom: 0;
}

.special-section p {
  line-height: 1.6;
  margin: 0 0 15px;
  word-wrap: break-word;
}
.special-inner {
  margin-top: -30px;
  margin-bottom: -30px;
}
.special-item {
  padding-bottom: 30px;
  padding-top: 30px;
}
.special-section img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}
.special-item .badge-dis {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f56960;
  box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
  color: #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  text-align: center;
  top: 0;
  right: 5px;
}
.special-item .badge-dis span {
  font-weight: 600;
  color: #f8f8f8;
}
.special-item .badge-dis strong {
  color: #ffffff;
  display: block;
  font-family: "Raleway", Sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.2;
}
.special-item .special-content {
  background-color: #ffffff;
  box-shadow: 0px 0px 25px 0px rgb(0 0 0 / 8%);
  margin-top: -145px;
  padding: 30px;
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}
.special-content .meta-cat {
  margin-bottom: 10px;
}
.special-content .meta-cat a {
  color: #0791be;
  font-family: "Raleway", Sans-serif;
  font-weight: 700;
  line-height: 1.2;
}
.special-content .meta-cat a:hover,
.special-content .meta-cat a:focus {
  color: #f56960;
  text-decoration: none;
}
.special-section h1,
h2,
h3,
h4,
h5,
h6 {
  color: #101f46 !important;
  font-family: "Raleway", sans-serif;
}
.special-section h3 {
  font-size: 23px !important;
  font-weight: 700 !important;
}
.special-section h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  /*    color: #2C75BA !important; */
  text-decoration: none !important;
  outline: 0;
}
.special-content .package-price {
  color: #f56960;
  font-size: 18px;
  font-family: "Raleway", Sans-serif;
  font-weight: 700;
  line-height: 1.3;
}
mark,
ins {
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (max-width: 991px) {
  .special-section {
    padding-bottom: 62px;
  }
}
@media screen and (max-width: 575px) {
  .special-section {
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 991px) {
  .special-item .special-img img {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px !important;
  }

  h3 {
    font-size: 18px !important;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .section-heading h2 {
    font-size: 30px !important;
  }
}
@media screen and (max-width: 575px) {
  .section-heading {
    margin-bottom: 30px;
  }
  .section-heading h2 {
    font-size: 24px;
  }
}
